* {
  box-sizing: border-box;
  
}



body {
  margin: 0 0vw 0 0vw; 
  padding: 0 0vw 0vw 0vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  background-image: url("../images/blacktabletop.jpeg");
  background-repeat: none;
  background-size: cover;
  overflow: scroll;
}


.glass-container{
  background: rgba(214, 217, 237, 0.59);
  border-radius: 10rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgb(10, 19, 77);
  opacity: 0.8;
  margin: 10vh 0vw 10vh 0vw;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

header > .header-container {
  background: rgba(214, 217, 237, 0.59);
  border-radius: 10rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgb(10, 19, 77);
  opacity: 0.8;
  margin: 0vh 0vw -10vh 0vw;
  width: 100vw;

}
header > .header-container > h1 {
  display: flex;
  justify-content: center;
  margin: 2vh 0vh 0vh -10vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(214, 217, 237, 1);
  font-size: 4rem;
  font-weight: 100;
  text-decoration: dashed;
  text-shadow: #000;
}

.avatar{
  width: 15vw;
  height: 20vh;
  border-radius: 50%;
  margin-left: 40vw;
  
}
header > nav {
  display: flex;
  
}


.navbar-custom{
  background: rgba(214, 217, 237, 0.59);
  border-radius: 10rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(10.9px);
  border: 1px solid rgba(214, 217, 237, 1);
  opacity: 0.8;
  margin-left: 60vw;
}

.hero-banner{
  margin: 0vw 0vw 2vh 0vw;
  padding: 0vw 0vw 0vw 0vw;
  width: 100%;
  /* From https://css.glass */
/* background: rgba(185, 55, 179, 0.54);
border-radius: 50px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.3px);
-webkit-backdrop-filter: blur(15.3px);
border: 0.5vh solid rgba(185, 55, 179, 0.3); */
}

.hero-banner > div > h2 {
  margin: 0vh 0vh 0vh 5vw;
  position: relative;
  top: 1vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(214, 217, 237, 1);
  font-size: 6vh;
  text-shadow: 12rem;
  border: 2px solid white;
  border-radius: 1rem;

  
}

#about{
  margin: 0vw 0vw 15vh 2vw;
  display: inline-grid;
  grid-template-columns: 100vw;
  grid-template-rows: 20vh 30vh;
  grid-template-areas: 
  "First "
  "Second "
  ;



}

#about > h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(17, 35, 153, 0.918);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
}

/* #about > p {
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgba(214, 217, 237, 1);
} */

#First{
  grid-area: First;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1; 
  grid-row-end: 1;
 
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 5em 5em 5em 5em;
width: fit-content;
margin-left: 35vw;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 5px solid rgba(255, 255, 255, 0.3);
display:inline-block;
font-weight: bolder;
color: white;
text-shadow: 1px 1px #fff;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

#Second{
  grid-area: Second;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  /* From https://css.glass */

font-weight: bolder;
color: white;
text-shadow: 1px 1px #fff;
display:inline-block;
width: fit-content;
font-size: 1.5rem;
padding: 0vh 5vw 0vh 5vw;

}



#work{
  margin: 0vw 0vw 0vw 0vw;
  padding: 0vw 0vw 0vw 4vw;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw ;
  grid-template-rows: 20vh 20vh 20vh 20vh ;
  grid-template-areas: 
  "Title Title Desc"
  "Screen Screen Next1"
  "Screen Screen Next2"
  "Screen Screen Next3"
  ;
}


#work > h2 {
  list-style-type: circle ;
  font-family: 'IBM Plex Sans', sans-serif;
  grid-area: Title;
  display: flex;
  justify-content: center;
  font-size: 18vh;

}

#work > #Desc {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px dotted green;
  border-radius: 2em;
  color: black;
  text-shadow: 2px 2px #fff;
  height: max-content;
  margin-top: 5vh;
}



#work > #Screen {
  grid-area: Screen;
  border-radius: -5vh;
  border: 5px dashed rgba(159, 186, 72, 0.7);
  background-size: cover;
}


#work > .arr{
  width: 20vw;
  height: 5vh;
  border: 5em solid red;
  border: 5em;
  border-radius: 2em;
  display: inline-block;
  margin: 0vh 0vh 0ch 18vw;
 
}

#work > #Next1 {
  grid-area: Next1;
  background-color: green;
  border-radius: 5vh;
  border: 5px dashed rgba(159, 186, 72, 0.7);
  background-size: cover;
  display: flex;
  justify-content: center;

}

#work > #Next1 > #up{
  height: 5vh;
  width: 5vw;
  margin: -2vh 0vw 0vh 0vw ;
  border: 2px solid red;
  border-radius: 5em;

}

#work > #Next2 {
  grid-area: Next2;
  background-color: blanchedalmond;
  border-radius: 5vh;
  border: 5px dashed rgba(159, 186, 72, 0.7);
  background-size: cover;

}
#work > #Next3{
  grid-area: Next3;
  background-color: aquamarine;
  border-radius: 5vh;
  border: 5px dashed rgba(159, 186, 72, 0.7);
  background-size: cover;

}



#work > #Next3 > #down {
  margin: 17vh 0px 0px 11vw;  
  border: 2px solid red;
  border-radius: 5em;

}

#work > article {

  
}



#work > article > a {
  

}


#contact {
  margin: 3vh 15vw 0vw 4vw;
  padding: 0vw 0vw 0vw 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
  font-family: 'IBM Plex Sans', sans-serif;

  
}

#contact > h2 {


}

#contact > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr ;
  grid-template-areas: 
  "Phone Email Github"
  ;
  
  list-style: none;
}

#contact > ul > li {
  list-style: none;
  font-family: 'IBM Plex Sans', sans-serif;


}



#Phone {
  grid-area: Phone;

}

#Email {
  grid-area: Email;
}

#Github{
  grid-area: Github;
}

@media screen and (max-device-width: 320px), screen and (device-width: 320px){
  #about{
    margin: 0vw 0vw -15vh 2vw;
    display: inline-grid;
    grid-template-columns: 30vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh ;
    grid-template-areas: 
    "First"
    "Second"
  
    ;
    height: fit-content;
    width: fit-content;
  }

  #First{
    grid-area: First;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1; 
    grid-row-end: 1;
    width: fit-content;
    display: flex;
    border-radius: 5em 5em 1em 1em ;
    margin-left: 18vw;
    color: red;
  }
  #Second{
    grid-area: Second;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2; 
    grid-row-end: 2;
    width: 100vw;
    font-size: 3vh;
   
  }

}


@media screen and (max-device-width: 400px), screen and (device-width: 400px){
  html {
    overflow: hidden;
  }

  body{
    overflow: scroll;
  }
  body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
  header{
    width: 100vw;
  }
  header >.header-container > h1{
    font-size: 4vh;
    margin-right: 5vw;
  }
  html{
    overflow-y: auto;
  }

  #about{
    margin: 0vw 0vw -15vh 2vw;
    display: inline-grid;
    grid-template-columns: 30vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh ;
    grid-template-areas: 
    "First"
    "Second"
    "Third"
    "Fourth"
    "Fifth"
    "Sixth"
    ;
    height: fit-content;
  }

  #First{
    grid-area: First;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1; 
    grid-row-end: 1;
    width: fit-content;
    display: flex;
    border-radius: 5em 5em 1em 1em ;
    margin-left: 18vw;
  }
  #Second{
    grid-area: Second;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2; 
    grid-row-end: 2;
    width: 100vw;
    margin-left: 0vw;

  }

  #work {
  margin: 0vw 0vw 0vw 0vw;
  padding: 0vw 0vw 0vw 4vw;
  display: grid;
  grid-template-columns: 60vw 30vw ;
  grid-template-rows: 20vh 20vh 20vh 20vh 40vh;
  grid-template-areas: 
  "Title Title "
  "Screen  Next1"
  "Screen  Next2"
  "Screen  Next3"
  "Desc Desc"
  ;
}
.avatar{
  width: 12vw;
  height: 8vh;
  border-radius: 50%;
  margin-left: 40vw;
  
}

#work > #Next{
  margin-left: -40vw;

}
#work > h2 {
  list-style-type: circle ;
  font-family: 'IBM Plex Sans', sans-serif;
  grid-area: Title;
  display: flex;
  justify-content: center;
  font-size: 12vh;
  margin-top: 5vh;

}

#work > #Desc {

  align-items: center;
  border: 5px dotted green;
  border-radius: 2em;
  color: black;
  text-shadow: 2px 2px #fff;
  height: fit-content;
  font-size: 1em;
  grid-area: Desc;

  
}



#work > #Screen {
  grid-area: Screen;
  border-radius: -5vh;
  border: 5px dashed rgba(159, 186, 72, 0.7);
  background-size: cover;
  font-size: 2em;
  text-decoration: none;
  color:rgba(214, 217, 237, 1);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#work > .arr{
  width: 20vw;
  height: 5vh;
  border: 5em solid red;
  border: 5em;
  border-radius: 2em;
  display: inline-block;
  margin: 0vh 0vh 0ch 18vw;
 
}

#work > #Next1 {
  grid-area: Next1;
  background-color: green;
  border-radius: 5vh;
  border: 5px dashed rgba(159, 186, 72, 0.7);
  background-size: cover;
  display: flex;
  justify-content: center;

}

#work > #Next1 > #up{
  height: 5vh;
  width: fit-content;
  margin: -2vh 0vw 0vh 0vw ;
  border: 2px solid red;
  border-radius: 5em;

}

#work > #Next2 {
  grid-area: Next2;
  background-color: blanchedalmond;
  border-radius: 5vh;
  border: 5px dashed rgba(159, 186, 72, 0.7);
  background-size: cover;

}
#work > #Next3{
  grid-area: Next3;
  background-color: aquamarine;
  border-radius: 5vh;
  border: 5px dashed rgba(159, 186, 72, 0.7);
  background-size: cover;

}



#work > #Next3 > #down {
  margin: 17vh 0px 0px 11vw;  
  border: 2px solid red;
  border-radius: 5em;
  width: fit-content;

}

  


}

@media screen and (max-device-width: 768px), screen and (device-width: 768px) {

  #work > #Desc{
    height: fit-content;
    width: fit-content;
    margin: 0vh 0vh -5vh -20vw;
  }
  
}

@media screen and (max-device-width: 912px ), screen and (device-width: 912px) {
  #about > #First {
    margin-left: 20vw;
  }

  #work > #Desc{
    margin-left: 10vw;
  }

  #work > #Next1 > #up{
    margin-top: -1vh;
    width: 15vw;
  }
  #work > #Next3 > #down {
   width: 15vw;
   margin-left: 5.5vw;
  
  }
}

